@font-face {
  font-family: "Daisybud Script";
  src: url("fonts/DaisybudScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('fundo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

h1 {
  text-align: center;
  font-family: "Daisybud Script", cursive;
  font-weight: bold;
  font-size: 5em;
  color: #ffffff;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #000;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.presente {
  background: rgba(255, 255, 255, 0.6); /* branco com transparência */
  border: 2px solid #ffdde5;
  border-radius: 15px;
  width: 280px;
  height: 430px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.presente img {
  width: 100%;
  height: 300px;          /* ALTURA FIXA DA IMAGEM */
  object-fit: contain;   
  border-radius: 12px;
}

.presente h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
  color: #8B0000;
}

.presente p {
  font-size: 1em;
  color: #222;
  font-weight: bold;
  margin: 5px 0;
}


button {
  background-color: #c2185b;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #ad1457;
}

.presente-detalhe {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.96);
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.presente-detalhe img {
  width: 100%;
  border-radius: 15px;
}

.presente-detalhe input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1em;
}

a button {
  margin-top: 10px;
}
